body {
	background-color: #d3d3d3;
	margin: 0;
	padding: 0;
	font-family: 'arial', 'helvetica neue', times, times new roman, serif; .
	line-height: 150%;
	text-align: justify;

}


/*get to know me text*/
h1 {
	color: #4aaaa5;
	text-align: left;
	
}





/*bar at top of nav*/
.topheader {
	color: #333333;
	height: 50px;
	

}

nav {
	float: right;
	padding-right: 300px;
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: block;
	margin-left: 70px;
	padding-top: 25px;

}

nav a {
	color: #777777;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #000;
}






/*nav and logo*/
.headercontainer {
	width: 5%;
	margin: 0 auto;
	display: block;
	background: #ffffff;
	border-bottom: 4px solid #777777;
	padding: none;
	


}

/*logo*/
.image {
	height: 80px;
	width: 220px;
	
	margin: 0;
	padding-left: 280px;



	
}




/*get to know me, selfie, and bio*/
.containermain {
	
	margin: 0 auto;
	width: 960px;
	background-color: #ffffff;
	padding: 100px;


	


}


.footer {
	color: #4d4d4d;
	height: 200px;
	position: absolute;
	bottom: 0%;
	
}