body {
	background-image: url(assets/images/herringbone.png);
	margin: 0;
	padding: 0;
	font-family: 'arial', 'helvetica neue', times, times new roman, serif; .
	line-height: 150%;
	text-align: justify;
	height: 1000px;

}


/*get to know me text*/
h1 {
	color: #4aaaa5;
	text-align: left;
	
}


/*gettoknowmeandborderbottom*/
.containergettoknow {
	border-bottom: 1px solid #777777;


}






nav {
	float: right;
	padding-right: 300px;
	padding-top: 25px;
	
	
	
	
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 5px;

}

nav a {
	color: #777777;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: #000;
}



p, p2, p3 {
	font-size: 24px;
}


/*nav and logo*/
.headercontainer {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	background: #ffffff;
	border-bottom: 4px solid #777777;
	padding: none;



	


}

/*logo*/
.image {
	height: 80px;
	width: 220px;
	
	margin: 0;
	padding-left: 280px;



	
}

/*selfie*/
.image2 {
	height: 300px;
	width: 300px;
	float: left;
	padding-top: 30px;
	padding-left: 0px; 
	padding-right: 30px;
	padding-bottom: 20px;
}

.main-bio {
	width: 70%;
	margin: 0;
	float: right;
	
}


/*get to know me, selfie, and bio*/
.containermain {
	
	margin: 0 auto;
	width: 960px;
	background-color: #ffffff;
	padding: 50px;


	


}

.footercombo  {
	height: 120px;
	position: fixed;
}

#footerteal {
	background-color: #4aaaa5;
	height: 20px;
	position: fixed;
	bottom: 100px;
	width: 100%;
}

#footer {
	background-color: #666666;
	height: 100px;
	bottom: 0;
	width: 100%;
	position: fixed;
}


	
