body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: 'arial', 'helvetica neue', times, times new roman, serif; .
	line-height: 150%;

}


h1 {
	color: #ffffff;
	padding-bottom: 20px;
	background-color: #4aaaa5;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	font-family: 'arial', 'helvetica neue', helvetica, sans-serif; .
}

h2 {
	color: #4aaaa5;
}

p, p2, p3 {
	font-size: 24px;
}

.image  {
	height: 400px;
	width: 400px;
	float: left;
}

.main-bio {
	width: 70%;
	margin: 0;
	float: right;
}

.wrap {
	height: 960px;
	width: 960px
	background-color: #ffffff;

}
